.queryHistory {
	width: 25%;
    border-right: 1px solid #2F2F2F;
    background-color: #0C0C0C;
}

.sidebarIcon {
	display: none;
}

@media screen and (max-width: 600px) {
	.queryHistory {
		position: absolute;
		left: -100%;
		top: 0;
		transition: left 0.5s;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	.queryHistory.enabled {
		left: 0;
	}

	.sidebarIcon {
		display: block;
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 100;
		cursor: pointer;
	}

	.sidebarIcon.enabled {
		display: none;
	}
}



.header {
	padding: 1rem;
	background-color: #1e1e1e;
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-shrink: 0;

  }
  
  .queryHeader {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: #1e1e1e;
  }
  
  .queryActions {
	display: flex;
	gap: 0.5rem;
  }
  
  .queryContent {
	padding: 1rem;
	background-color: #1e1e1e;
  }
  .container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	position: relative;
	overflow: hidden;
  }

  .contentContainer {
	flex: 1;
	overflow-y: auto;
  }

